<!doctype html>
<head>
  <title><%= projectName %></title>
  <% if (bootstrap) { -%>
  <link rel="stylesheet" href="public/vendor/bootstrap-3.3.5/css/bootstrap.min.css" >
  <link rel="stylesheet" href="public/vendor/bootstrap-3.3.5/css/bootstrap-theme.min.css" >
  <% } -%>
  <link rel="stylesheet" href="public/css/general.css" >
</head>
<body>
  <% if (bootstrap) { %><div class="container"><% } %>
  <div id="app"></div>
  <% if (bootstrap) { %></div><% } %>
</body>
<script src="elm.js"></script>
<script type="text/javascript">
  Elm.embed(Elm.Main, document.getElementById('app'))
</script>
